
  
  nav {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 10;
  }
  
  .my-custom-collapse {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
  }
  
  .navbar-brand {
    color: white !important; /* Ensure brand text is white */
    margin-left: 150px;
  }
  
  .navbar-nav .nav-link {
    color: white !important; /* Set nav links to white */
  }
  
  .dropdown-menu {
    background-color: black !important; /* Ensure dropdown background is black */
  }
  
  .dropdown-item {
    color: white !important; /* Change dropdown text color to white */
  }
  
  .dropdown-item:hover {
    background-color: #555 !important; /* Slightly lighter black for hover effect */
  }
  .middle {
    flex: 1 1 auto; 
  }
  .nav-item{
    font-size: larger;
  }
  .book{
    border: #1f1e1e 0.2px solid;
  
    background-color: #1f1e1e;
    border-color: aliceblue;
  }