nav {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 10;
}

.my-custom-collapse {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.navbar-brand {
    color: white !important;
    margin-left: 150px;
}

.navbar-nav .nav-link {
    color: white !important;
}

.dropdown-menu {
    background-color: black !important;
}

.dropdown-item {
    color: white !important;
}

.dropdown-item:hover {
    background-color: #555 !important;
}

.middle {
    flex: 1 1 auto;
}

.nav-item {
    font-size: larger;
}

.book {
    border: #1f1e1e 0.2px solid;
    background-color: #1f1e1e;
    border-color: aliceblue;
}
